body {
    overflow: hidden;
}

.math-race {
    position: relative;
    color: white;
    top: 10%;
    font-size: 32px;
    font-family: "Titillium Web", sans-serif;
    height: 90%;
    width: 100%;
    display: grid;
    grid-template-areas: 'Score Input Timer' '. Addition .' '. Button .'
}

.num-input {
    width: 100px;
    height: 50px;
    font-size: 24px;
    border-radius: 25px;
    text-align: center;
    grid-area: Input;
}

.addition {
    grid-area: Addition;
}

.start-btn {
    width: 150px;
    height: 50px;
    font-size: 18px;
    background-color: white;
    border-radius: 10px;
    grid-area: Button;
    align-self: center;
}

.timer {
    font-size: 24px;
    grid-area: Timer;
    text-align: right;
    margin-right: 10px;
}

.score-lbl {
    font-size: 24px;
    grid-area: Score;
    text-align: left;
    margin-left: 10px;
}

.race-link {
    position: relative;
    color: white;
    top: 450px;
    left:250px;
    font-size: 32px;
    font-family: "Titillium Web", sans-serif;
    width: 200px;
    overflow: hidden;
    border-radius: 10px;
    float: left;
    text-align: center;
    text-decoration: none;
    background-color: black;
    padding: 14px 16px;
}

.star-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.star {
    position: absolute;
    background-color: white;
    animation-name: starFly;
    animation-iteration-count: infinite;
    animation-delay: -1s;
    animation-timing-function: linear;
    z-index: -1;
}

@keyframes starFly {
    to {
        top: -100%;
    }
}