body {
  background: #1d1c1c;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  font-size: 10px;
  color: white;
}

.page1 {
  position: relative;
  text-align: center;
  color: #1d1c1c;
  font-size: 98px;
  top: 100px;
  animation: fade-in 5000ms;
  animation-fill-mode: forwards;
}

.welcome {
  position: relative;
  text-align: center;
  color: #1d1d1c;
  font-size: 24px;
  top: 50px;
  animation: fade-in 5000ms;
  animation-fill-mode: forwards;
  animation-delay: 1500ms;
}

.page2 {
  position: relative;
  text-align: center;
  color: white;
  font-size: 48px;
  top: 100px;
  animation: grow 5000ms;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  100% {
    color: white;
  }
}

.topnav {
  background-color: #121212;
  overflow: hidden;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #121212;
  border-bottom: 2px solid #121212;
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: white;
  border-bottom: 2px solid red;
}

.img {
  position: relative;
  top: 50px;
  width: 50%;
}

.image {
  margin-top: 25px;
  display: block;
  width: 95%;
  height: 400px;
  border-radius: 7em;
}

.overlay {
  margin-top: 25px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 95%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #12130e;
  border-radius: 7em;
}

.img:hover .overlay {
  opacity: 0.8;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
